/* GENERAL SETTING */
hr {
    display: inline-block;
    height: 3px;
    width: 100px;
    line-height: 36px;
    vertical-align: middle;
    border: 0;
}

.divider {
    margin: 20px 0;
}

/* JUMBOTRON */
.jumbotron {
    background-color: #1abc9c;
    color: #ffffff;
    margin-bottom: 100px;
}

.jumbotron h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 64px;
}

.jumbotron p {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 24px;
}

.jumbotron img {
    margin-bottom: 48px;
    width: 240px;
}

.jumbotron span {
    font-size: 36px;
    margin: 0 20px;
    vertical-align: middle;
}

.jumbotron hr {
    background-color: #ffffff;
}

/* PORTFOLIO */
.portfolio {
    color: #2c3e50;
}

.portfolio h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
}

.portfolio span {
    font-size: 36px;
    margin: 0 20px;
    vertical-align: middle;
}

.portfolio hr {
    background-color: #2c3e50;
}

.portfolio .row:last-child {
    margin-top: 30px;
}

.portfolio .card {
    position: relative;
}

.portfolio .card::before, .portfolio .card::after {
    display: block;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    transition: visibility .1s ease-in-out;
}

.portfolio .card::before {
    content: '';
    top: 15px;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    background-color: rgba(26, 188, 156, .9);
}

.portfolio .card::after {
    content: '\f067';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 80px;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio .card:hover:before, .portfolio .card:hover:after {
    visibility: visible;
}

.card {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* ABOUT */
.about {
    background-color: #1abc9c;
    color: #ffffff;
    padding: 95px 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 10px;
}

.about .row p {
    font-family: 'Lato', sans-serif;
    text-align: left;
    line-height: 30px;
    font-weight: 500;
    font-size: 20px;
}

.about span {
    font-size: 36px;
    margin: 0 20px;
    vertical-align: middle;
}

.about hr {
    background-color: #ffffff;
}

.about p a {
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    text-transform: capitalize;
    border: 2px solid #ffffff;
    padding: 16px 28px;
    font-size: 20px;
}

.about p a:hover {
    color: #212529;
    background-color: #ffffff;
    border: 2px solid transparent;
}

.about p a span {
    font-size: 20px;
    padding-right: 10px;
    margin: 0;
}

/* CONTATCS */
.contacts {
    color: #2c3e50;
}

.contacts h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
}

.contacts span {
    font-size: 36px;
    margin: 0 20px;
    vertical-align: middle;
}

.contacts hr {
    background-color: #2c3e50;
}

.contacts a {
    color: #ffffff;
    background-color: #1abc9c;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
}

.contacts a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #159a80;
    border-color: #148f77;
}

.contacts input, .contacts textarea {
    padding-bottom: 50px;
    padding-top: 50px;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
    font-size: 24px;
}

.contacts input:focus, .contacts textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: lightgrey;
}

.contacts textarea {
    resize: none;
    margin-bottom: 40px;
}

.contacts input::placeholder, .contacts textarea::placeholder {
    font-size: 24px;
    color: #7d858c;
}


/* FOOTER */
.footer-top {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 95px 0;
    margin-top: 100px;
}

.footer-bottom {
    background-color: #1a252f;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.footer h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.footer p a {
    color: #1abc9c;
}

.footer p a:hover {
    color: #117964;
    text-decoration: underline;
}

.footer  p {
    font-family: 'Lato', sans-serif;
    text-align: left;
    line-height: 30px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.social-media span {
    text-align: center;
    line-height: 41px;
    font-weight: 500;
    font-size: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.footer span:hover {
    color: #2c3e50;
    background-color: #ffffff;

}

.footer-bottom  h5 {
    font-size: 14px;
    margin: 20px 0;
}

@media screen and (min-width: 992px) {
    .about.container, .contacts.container {
        max-width: 800px;
    }

    .footer .col-md-4 {
        max-width: calc((100% - 150px) / 3);
        margin-left: 25px;
        margin-right: 25px;
    }
}
